.entryPage {
	width: 100%;
	height: 98vh;
	justify-content: center;
	align-items: center;
	display: flex; 
	background-image: url(../assets/img/entrybg.png);
	background-size: cover;
}

.mainPage {
	display: hidden;
}

.openCardButton {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	font-size: 34px;
	font-weight:bold;
	border: 2px solid #FFD700;
	background: #6A2139;
	color: #FFD700;
	font-family: "Tangerine", cursive;
	cursor: pointer;
}

.scrollContainer {
	margin: auto;
}

.scroll {
	margin: auto;
}

.familyNames {
	width: 70%;
	margin-top: 32px !important;
	margin: auto;
	font-weight: bolder !important;
	font-size: 38px !important;
}

.scroll p {
	letter-spacing: 2px;
	font-size: 19px;
}

.scroll span {
	font-size: 15px;
}

.scroll3 {
	margin: auto;
}

	.scroll3 p {
		letter-spacing: 2px;
		font-size: 19px;
	}

	.scroll3 span {
		font-size: 15px;
	}

.scroll2 {
	margin: auto;
}

	.scroll2 p {
		letter-spacing: 2px;
		font-size: 19px;
	}

	.scroll2 span {
		font-size: 15px;
	}

.venue {
	font-size: 15px;
}

.dateTag {
	font-size: 20px;
}

.backButton {
	border: 0;
	background: #FFD700;
	cursor: pointer;
	font-size: 32px;
	font-weight:bold;
	color: black;
}

	.backButton:hover {
		background: #ffea76;
		color:black;
		transition: 0.2s;
	}

.pageWrapper {
	text-align: center;
	align-items: center;
	display: none;
	width: 100%;
	padding: 10px;
}

.ouPicImage {
	height: 400px;
	width: 320px;
}

.story,
a {
	font-family: "Satisfy", cursive;
	font-size: 30px;
	color: #764b74;
}

	.story a {
		color: #648be4;
	}

.venueDetailsText,
p {
	font-size: 26px;
	letter-spacing: 3px;
}

.mapLocation {
	font-size: 18px;
}

.buttonsWrapper,
.venueButtons {
	font-size: 36px;
	font-weight:bold;
}

.venueButtons {
	border: 1px solid #FFD700;
	width: 170px;
	padding: 5px;
	margin: auto;
	margin-bottom: 12px;
	cursor: pointer;
}

.venueButtons,
a {
	color: #FFD700;
}

	.venueButtons:hover {
		background: #ffea76;
		transition: 0.5s;
		color: black;
	}

.nearestList {
	margin: auto;
}

.venueIcons {
	height: 14px;
	width: 14px;
	max-width: 14px;
	margin-right: 5px;
}

footer {
	text-align: center;
}

#rsvpPage {
	width: 100%;
}

#rsvpButton {
	border: none;
	margin-top: 14px;
	margin-bottom: 14px;
	font-size: 16px;
	background: #FFD700;
	cursor: pointer;
}

	#rsvpButton:hover {
		background: #ffea76;
		transition: 0.2s;
	}

.footerMessage {
	font-size: 22px;
	margin-top: 24px;
}

.footerMessage1 {
	font-size: 20px;
	margin-top: -10px;
}

.iframeContainer, iframe{
	padding-top: 10%;
	width: 100%;
}

.picturesList,
a {
	color: #bb93b8;
	width: 40%;
	margin: auto;
}

	.picturesList a {
		text-decoration: underline;
	}

		.picturesList a:hover {
			filter: brightness(85%);
		}

@-webkit-keyframes fall {
	0% {
		opacity: 0.9;
		top: 0;
	}

	100% {
		opacity: 0.2;
		top: 100%;
	}
}

@keyframes fall {
	0% {
		opacity: 0.9;
		top: 0;
	}

	100% {
		opacity: 0.2;
		top: 100%;
	}
}

@-webkit-keyframes blow-soft-left {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -50%;
	}
}

@keyframes blow-soft-left {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -50%;
	}
}

@-webkit-keyframes blow-medium-left {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -100%;
	}
}

@keyframes blow-medium-left {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: -100%;
	}
}

@-webkit-keyframes blow-soft-right {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 50%;
	}
}

@keyframes blow-soft-right {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 50%;
	}
}

@-webkit-keyframes blow-medium-right {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 100%;
	}
}

@keyframes blow-medium-right {
	0% {
		margin-left: 0;
	}

	100% {
		margin-left: 100%;
	}
}

@-webkit-keyframes sway-0 {
	0% {
		-webkit-transform: rotate(-5deg);
	}

	40% {
		-webkit-transform: rotate(28deg);
	}

	100% {
		-webkit-transform: rotate(3deg);
	}
}

@keyframes sway-0 {
	0% {
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}

	40% {
		-ms-transform: rotate(28deg);
		transform: rotate(28deg);
	}

	100% {
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
	}
}

@-webkit-keyframes sway-1 {
	0% {
		-webkit-transform: rotate(10deg);
	}

	40% {
		-webkit-transform: rotate(43deg);
	}

	100% {
		-webkit-transform: rotate(15deg);
	}
}

@keyframes sway-1 {
	0% {
		-ms-transform: rotate(10deg);
		transform: rotate(10deg);
	}

	40% {
		-ms-transform: rotate(43deg);
		transform: rotate(43deg);
	}

	100% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}
}

@-webkit-keyframes sway-2 {
	0% {
		-webkit-transform: rotate(15deg);
	}

	40% {
		-webkit-transform: rotate(56deg);
	}

	100% {
		-webkit-transform: rotate(22deg);
	}
}

@keyframes sway-2 {
	0% {
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	40% {
		-ms-transform: rotate(56deg);
		transform: rotate(56deg);
	}

	100% {
		-ms-transform: rotate(22deg);
		transform: rotate(22deg);
	}
}

@-webkit-keyframes sway-3 {
	0% {
		-webkit-transform: rotate(25deg);
	}

	40% {
		-webkit-transform: rotate(74deg);
	}

	100% {
		-webkit-transform: rotate(37deg);
	}
}

@keyframes sway-3 {
	0% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg);
	}

	40% {
		-ms-transform: rotate(74deg);
		transform: rotate(74deg);
	}

	100% {
		-ms-transform: rotate(37deg);
		transform: rotate(37deg);
	}
}

@-webkit-keyframes sway-4 {
	0% {
		-webkit-transform: rotate(40deg);
	}

	40% {
		-webkit-transform: rotate(68deg);
	}

	100% {
		-webkit-transform: rotate(25deg);
	}
}

@keyframes sway-4 {
	0% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}

	40% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
	}

	100% {
		-ms-transform: rotate(25deg);
		transform: rotate(25deg);
	}
}

@-webkit-keyframes sway-5 {
	0% {
		-webkit-transform: rotate(50deg);
	}

	40% {
		-webkit-transform: rotate(78deg);
	}

	100% {
		-webkit-transform: rotate(40deg);
	}
}

@keyframes sway-5 {
	0% {
		-ms-transform: rotate(50deg);
		transform: rotate(50deg);
	}

	40% {
		-ms-transform: rotate(78deg);
		transform: rotate(78deg);
	}

	100% {
		-ms-transform: rotate(40deg);
		transform: rotate(40deg);
	}
}

@-webkit-keyframes sway-6 {
	0% {
		-webkit-transform: rotate(65deg);
	}

	40% {
		-webkit-transform: rotate(92deg);
	}

	100% {
		-webkit-transform: rotate(58deg);
	}
}

@keyframes sway-6 {
	0% {
		-ms-transform: rotate(65deg);
		transform: rotate(65deg);
	}

	40% {
		-ms-transform: rotate(92deg);
		transform: rotate(92deg);
	}

	100% {
		-ms-transform: rotate(58deg);
		transform: rotate(58deg);
	}
}

@-webkit-keyframes sway-7 {
	0% {
		-webkit-transform: rotate(72deg);
	}

	40% {
		-webkit-transform: rotate(118deg);
	}

	100% {
		-webkit-transform: rotate(68deg);
	}
}

@keyframes sway-7 {
	0% {
		-ms-transform: rotate(72deg);
		transform: rotate(72deg);
	}

	40% {
		-ms-transform: rotate(118deg);
		transform: rotate(118deg);
	}

	100% {
		-ms-transform: rotate(68deg);
		transform: rotate(68deg);
	}
}

@-webkit-keyframes sway-8 {
	0% {
		-webkit-transform: rotate(94deg);
	}

	40% {
		-webkit-transform: rotate(136deg);
	}

	100% {
		-webkit-transform: rotate(82deg);
	}
}

@keyframes sway-8 {
	0% {
		-ms-transform: rotate(94deg);
		transform: rotate(94deg);
	}

	40% {
		-ms-transform: rotate(136deg);
		transform: rotate(136deg);
	}

	100% {
		-ms-transform: rotate(82deg);
		transform: rotate(82deg);
	}
}

.sakura {
	/* background: -webkit-linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));*/
	background: red;
	pointer-events: none;
	position: absolute;
}

.sakura {
	background: #FFD700;
}

.stickToPageBottom {
	width: 100%;
	text-align: center;
	justify-content: center;
	position: fixed;
	margin: auto;
	bottom: 23px;
	margin-top: 20px;
}

/*******************************/

body {
	font-family: Arial, Helvetica, Sans-serif;
	background-color: #911840;
	color: #FFD700;
}

@media (max-width: 900px) {
	img {
		max-width: 30%;
	}

	.ouPicImage {
		height: 300px;
		width: 210px;
		max-width: 210px;
	}

	.venueIcons {
		height: 18px;
		width: 15px;
		max-width: 15px;
		margin-right: 3px;
	}

	.picturesList {
		width: 60%;
	}

	.stickToPageBottom {
		text-align: center;
		justify-content: center;
		position: fixed;
		margin: auto;
		bottom: 23px;
		margin-top: 20px;
	}
}

.top-right-decoration {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
}

.top-left-decoration {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

.title h1 {
	font-weight: bold;
	font-style: normal;
	font-size: 60px;
	margin: 16px 0;
}

.title h2 {
	font-weight: bold;
	font-style: normal;
	margin: 0;
	padding: 0;
	font-size: 36px;
	line-height: 1;
}

.dance-med {
	font-family: "Dancing Script", cursive;
	font-weight: bolder;
	font-style: normal;
	font-size: 32px;
	color: #674ea7;
	margin: 16px;
	text-align: center;
}

.title h3 {
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 28px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 4px;
	padding-right: 4px;
}

.title p {
	margin: 24px 0 16px;
	letter-spacing: 3px;
	font-size: 22px;
}

.wrap {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	/* padding: 20px; */
	text-align: center;
	 min-height:100%; 
}

/** **/

* {
	/* margin: 0;
    padding: 0; */
	font-family: "Tangerine", cursive;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.title {
	margin-bottom: 15px;
	margin-top: 12px;
}

#time {
	width: auto;
	height: auto;
	padding: 20px;
	background-color: #f9e2e5;
	border-radius: 20px;
	font-size: 16px;
}

.optionsContainer4 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 2px solid #FFD700;
	overflow: hidden;
	width: 360px;
	margin: auto;
	cursor: pointer;
	font-size: x-large;
}


.optionsContainer3 {
	display: grid;
	grid-template-columns: 1fr;
	border: 2px solid #FFD700;
	overflow: hidden;
	width: 360px;
	margin: auto;
	cursor: pointer;
	font-size: x-large;
}

	.optionsContainer4 div {
		height: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

		.optionsContainer4 div:hover {
			filter: brightness(80%);
			transition: 0.2s;
		}

.optionsContainer3 div {
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

	.optionsContainer3 div:hover {
		filter: brightness(80%);
		transition: 0.2s;
	}

.minutes3 {
	background-color:transparent;
	width: 99%;
	border-left: 2px solid #FFD700;
	border-right: 2px solid #FFD700;
	border-bottom: 2px solid #FFD700;
}

.hours3 {
	background: transparent;
	width: 99%;
	border-left: 2px solid #FFD700;
	border-right: 2px solid #FFD700;
	border-bottom: 2px solid #FFD700;
}

.seconds3 {
	background-color: transparent;
	width: 99%;
	border-left: 2px solid #FFD700;
	border-right: 2px solid #FFD700;
	border-bottom: 2px solid #FFD700;
}


.days4 {
	background: transparent;
	width: 100%;
	border-bottom: 2px solid #FFD700;
}

.hours4 {
	background: transparent;
	width: 100%;
	border-right: 2px solid #FFD700;
}

.minutes4 {
	background-color: transparent;
	width: 100%;
	border-left: 2px solid #FFD700;
	border-bottom: 2px solid #FFD700;
}

.seconds4 {
	background-color: transparent;
	width: 100%;
}

.date {
	font-weight: 900;
}

.place {
	font-weight: 900;
}

.phone {
	color: #874562;
}

.end-msg {
	width: auto;
	height: auto;
	padding: 12px;
	background: linear-gradient(90deg, #b33a46, #9b313c);
	border-radius: 20px;
	font-size: 14px;
	color: #fff;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.happiness {
	color: #874562;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 24px;
}

.twitter {
	color: #874562;
}

.music {
	display: none;
}

.actions {
	display: flex;
	justify-content: center;
	font-size: 12px;
	letter-spacing: 0pt;
	margin-top: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}




#gallery {
	line-height: 0;
	-webkit-column-count: 5; /* split it into 5 columns */
	-webkit-column-gap: 5px; /* give it a 5px gap between columns */
	-moz-column-count: 5;
	-moz-column-gap: 5px;
	column-count: 5;
	column-gap: 5px;
}

	#gallery img {
		width: 100% !important;
		max-width: 100%;
		height: auto !important;
		margin-bottom: 5px; /* to match column gap */
	}

@media (max-width: 1200px) {
	#gallery {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

@media (max-width: 1000px) {
	#gallery {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 800px) {
	#gallery {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 400px) {
	#gallery {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
